Library/PackageCache/com.unity.burst@1.7.3/.Runtime/libburst-llvm-12.dylib
Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostmac/lld
Logs
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker0.log
Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
Build/WeissSchwarz_Data/sharedassets0.assets.resS